<!DOCTYPE html>
<html lang="pr-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/style_album.css">
    <link rel="stylesheet" href="../../public/css/stye_carta.css">
    <link rel="shortcut icon" href="../../public/favicon.png" type="image/x-icon">
    <title>PokeCartas | Album</title>
</head>
<body>
    <header>
        <div class="popup">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis vehicula ligula, eget cursus neque. Nam metus dolor, finibus nec vestibulum sit amet, fringilla vitae massa. In rutrum dapibus placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eget lacinia massa. Aliquam scelerisque elit nec ligula porttitor, ut pretium velit auctor. Aenean nec velit quis nunc feugiat rutrum.</p>
            <i class="fa-solid fa-x"></i>
        </div>
        <div id="CaixaFiltrarOrdenar">
            <h3>Ordenação</h3>
            <i class="fa-solid fa-x"></i>
            <div id="inputOrdenacaoOpcoes">
                <div class="caixaOpcaoOrdenacao">
                    <p>Nome</p><i class="fa-solid fa-sort opcaoOrdenacao" id="nomePokemon"></i>
                </div>
                <div class="caixaOpcaoOrdenacao">
                    <p>Id</p><i class="fa-solid fa-sort opcaoOrdenacao" id="IdPokemon"></i>
                </div>
                <div class="caixaOpcaoOrdenacao">
                    <p>HP</p><i class="fa-solid fa-sort opcaoOrdenacao" id="HPPokemon"></i>
                </div>
                <div class="caixaOpcaoOrdenacao">
                    <p>ATK</p><i class="fa-solid fa-sort opcaoOrdenacao" id="ATKPokemon"></i>
                </div>
                <div class="caixaOpcaoOrdenacao">
                    <p>DEF</p><i class="fa-solid fa-sort opcaoOrdenacao" id="DEFPokemon"></i>
                </div>
                <div class="caixaOpcaoOrdenacao">
                    <p>SPEED</p><i class="fa-solid fa-sort opcaoOrdenacao" id="SPEEDPokemon"></i>
                </div>
            </div>
            <h3>Filtro</h3>
            <div id="inputFiltroOpcoes">
                <button type="button" class="botaoTipoPokemon" id="normal">normal</button>
                <button type="button" class="botaoTipoPokemon" id="fire">fire</button>
                <button type="button" class="botaoTipoPokemon" id="water">water</button>
                <button type="button" class="botaoTipoPokemon" id="grass">grass</button>
                <button type="button" class="botaoTipoPokemon" id="eletric">eletric</button>
                <button type="button" class="botaoTipoPokemon" id="ice">ice</button>
                <button type="button" class="botaoTipoPokemon" id="fighting">fighting</button>
                <button type="button" class="botaoTipoPokemon" id="poison">poison</button>
                <button type="button" class="botaoTipoPokemon" id="ground">ground</button>
                <button type="button" class="botaoTipoPokemon" id="flying">flying</button>
                <button type="button" class="botaoTipoPokemon" id="psychic">psychic</button>
                <button type="button" class="botaoTipoPokemon" id="bug">bug</button>
                <button type="button" class="botaoTipoPokemon" id="rock">rock</button>
                <button type="button" class="botaoTipoPokemon" id="ghost">ghost</button>
                <button type="button" class="botaoTipoPokemon" id="dragon">dragon</button>
                <button type="button" class="botaoTipoPokemon" id="dark">dark</button>
                <button type="button" class="botaoTipoPokemon" id="steel">steel</button>
                <button type="button" class="botaoTipoPokemon" id="fairy">fairy</button>
            </div>
        </div>
        <div id="CaixaAbas">
            <button type="button" id="Deck">Deck</button>
            <button type="button" id="Deck">Coleções</button>
        </div>
        <div id="CaixaTotalCartas">
            Total de Cartar: <input type="number" name="totalCartas" value="0" readonly id="totalCartas">
        </div>
        <audio id="audioMusica" controls autoplay loop onloadedmetadata="this.volume=0.1;">
            <source src="../../public/audio/Musics/Lake (From _Pokemon Diamond _ Pokemon Pearl_)(MP3_160K).mp3" type="audio/mpeg">
            Seu navegador não suporta o elemento de áudio.
        </audio> 
        <button type="button" id="botaoVoltar">Voltar</button>
        <div id="CaixaPesquisar">
            <div id="BotaoPesquisar"><i class="fa-solid fa-magnifying-glass"></i></div>
            <input type="text" name="InputPesquisaPokemon" id="InputPesquisaPokemon" placeholder="Digite o nome ou id do pokemon">
            <div id="BotaoLimparPesquisa"><i class="fa-solid fa-broom"></i></div>
        </div>
        <button type="button" id="BotaoFiltrarOrdenar">Filtragem e Ordenação</button>
    </header>
    <main>
        
    </main>
    <script src="../../public/js/script.js"></script>
    <script src="../../public/js/script_album.js"></script>
    <script src="../../public/js/script_carta.js"></script>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</bod>
</html>