<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/style_menu.css">
    <link rel="shortcut icon" href="../../public/favicon.png" type="image/x-icon">
    <title>PokeCartas | Menu</title>
</head>
<body>
    <header>
        <audio id="audioMusica" controls autoplay loop onloadedmetadata="this.volume=0.1;">
            <source src="../../public/audio/Musics/Accumula Town (From _Pokemon Black and White_)(MP3_160K).mp3" type="audio/mpeg">
            Seu navegador não suporta o elemento de áudio.
        </audio>    
        <nav>
            <button type="button" id="botaoAterarSenha">Alterar Senha</button>
            <button type="button" id="botaoDeslogar">Sair</button>
        </nav>
    </header>
    <main>
        <button type="button" id="botaoBatalhar">Batalhar</button>
        <button type="button" id="botaoAlbum">Minhas Cartas</button>
    </main>
    <script src="../../public/js/script_menu.js"></script>
</body>
</html>