<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/style_menu.css">
    <title>Jô-Quem-Mon</title>
</head>
<body>
    <header>
        <img src="../../public/imgs/logoHorizontal.png" alt="Logo JoQueMon" id="imagemLogo">
        <button type="button" id="botaoMenuBar">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>
    <main>
        <button type="button" id="botaoBatalha">
            <img src="../../public/imgs/iconeBatalha.png" alt="icone Batalhar">
            <h2>Batalhar</h2>
        </button>
        <div class="container">
            <button type="button" id="botaoMinhasCartas">
                <img src="../../public/imgs/iconeCartas.png" alt="icone minhas cartas">
                <h2>Minhas Cartas</h2>
            </button>
            <button type="button" id="botaoRanking">
                <img src="../../public/imgs/iconeRanking.png" alt="icone Batalha">
                <h2>Ranking</h2>
            </button>
        </div>
        
    </main>
    <footer></footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>