body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;

    justify-items: stretch;
}

main{
    grid-area: main;
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "batalhar batalhar"
    "botesAuxiliar botesAuxiliar"
    ;


    justify-content: space-between;

    justify-self: center;

    gap: 2rem;
    padding: 1rem;
}


.container{
    grid-area: botesAuxiliar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#botaoBatalha, #botaoMinhasCartas, #botaoRanking{
    background-color: var(--cor-destaque);

    border: none;
    border-radius: 2rem;

    h2{
        color: var(--cor-relevos);
    }
    
    color: var(--cor-relevos);
    cursor: pointer;

    
}

#botaoBatalha:hover, #botaoMinhasCartas:hover, #botaoRanking:hover{
    background-color: var(--cor-destaque);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 1);
}

.container button{
    width: 30%;


    height: 90%;
    max-height: 20rem;
    min-height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botaoBatalha{
    grid-area: batalhar;

    width: 100%;

    height: 100%;
    max-height: 20rem;
    min-height: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 5rem ;

    img{
        width: 30%;
    }

    font-size: 2rem;
    text-decoration: underline;
}

#botaoMinhasCartas{
    grid-area: minhasCartas;

}

#botaoRanking,#botaoMinhasCartas{
    grid-area: ranking;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 80%;
    }

    font-size: 2rem;
    text-decoration: underline;
}

#botaoRanking{
    grid-area: ranking;
}

