body{
    height: 100%;
    min-height: 100vh;
}

header{
    position: absolute;
    font-size: 4rem;
}

main{
    height: 100%;
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-areas: "CaixaPersonagemLado1 CaixaPersonagemMeio CaixaPersonagemLado2";
    justify-items: center;
    align-items: stretch;
    background-image: url(../imgs/background.png); 
}

.CaixaPersonagemCarta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

#CaixaPersonagemLado1 .carta{
    order: 1;
}


#CaixaPersonagemLado2 .carta{
    order: 2;
}

#CaixaPersonagemLado1, #CaixaPersonagemLado2{
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 945px;
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#CaixaPersonagemLado1{
    grid-area: CaixaPersonagemLado1;    
}

#CaixaPersonagemLado2{
    grid-area: CaixaPersonagemLado2; 
}

#CaixaPersonagemMeio{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 1rem;
    padding: 1rem;
    grid-area: CaixaPersonagemMeio;
}

#caixaBotao{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoProximaRodada{
    width: 50%;
    height: 100%;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 500;

}

#cartaAtivos{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 50%;
}

#textoResultado{
   width: 100%; 
   height: 25%;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
   resize: none;
}

.selecionado{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 5px 5px #000000;
}

#divVitoria{
    grid-area: vitoria;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1rem;
    background-color: #0b0020cc;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #9CEAEF;
}

.textos h1{
    font-size: 5rem;
}

.textos h2{
    font-size: 3rem;
}

.textos p{
    font-size: 2rem;
}

po

.divBotoes{
    width: 100%;
    height: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2rem;
    gap: 10%;
}

.divBotoes button {
    width: 20%;
    height: 90%;
    border-radius: 2rem;
    background-color: #9CEAEF;
    font-size: 4rem;
    font-weight: 500;
}

#botaoVoltar{
    margin-top: 1rem;
    height: 5%;
    width: 10%;
    min-height: 50px;
    min-width: 200px;
    font-size: 1.5rem;
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    border-radius: 3rem;
}

@media (max-width: 800px){
    html{
        height: max-content;
    }

    main{
        grid-template-areas: "CaixaPersonagemLado1"
        "CaixaPersonagemMeio" 
        "CaixaPersonagemLado2";
        justify-content: center;
    }

    #CaixaPersonagemLado1, #CaixaPersonagemLado2{
        height: 100%;
        max-height: none;
        width: 100%;
        max-width: none;
        align-content: center;
    }

    #CaixaPersonagemMeio{
        height: 100%;
    }
    #textoResultado{
        height: 350px;
     }
}