@font-face {
    font-family: 'Colmeack';
    src: url(../Colmeak.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: "Colmeack", sans-serif;
    font-size: var(--cor-normal);

    --cor-normal: #1c1e25;
    --cor-titulo: #111326;
    --cor-subTitulo: #464A58;
    --cor-fundo: #F6F7FA;
    --cor-relevos: #F0F0F0;
    --cor-destaque: #8A38F5;

    color: var(--cor-normal);
}

body{
    background-color: var(--cor-fundo);

    max-height: 100vh;
    max-width: 100vw;
}

header{
    grid-area: header;

    height: 100%;
    max-height: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    
}

#imagemLogo{
    width: 15%;
    min-width: 5rem;
    max-width: 20rem;
}

nav{
    width: 20%;
    min-width: 20rem;
    max-width: 25rem;

    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#botaoTrocarTema{
    background-color: var(--cor-destaque);

    width: 50%;
    min-width: 10rem;
    max-width: 15rem;

    height: 100%;
    min-height: 2rem;
    max-height: 4rem;
    border-radius: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    border: none;
    font-size: 2rem;
    
    color: var(--cor-fundo);
    
    cursor: pointer;
}

#iconeBotaoTrocarTema{
    background-color: var(--cor-fundo);
    width: 30%;
    border-radius: 100px;
}

#botaoMutarMusica{
    background-color: var(--cor-titulo);

    height: 100%;
    min-height: 2rem;
    max-height: 4rem;

    width: 100%;
    min-width: 2rem;
    max-width: 4rem;

    font-size: 2rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: none;

    i{
        color: var(--cor-fundo);    
    }

    cursor: pointer;
}

button:hover, #botaoMutarMusica:hover{
    background-color: var(--cor-destaque);
    transition: .3s;
}

footer{
    grid-area: footer;
}
