body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imgs/background.png);
}

header{
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    border-radius: 2rem;
    width: 90%;
    padding: 2rem;
    font-size: 2rem;
    gap: 1rem;

    display: grid;
    grid-template-areas: 
    "NovasAbas Musica Pesquisa"
    "TotalCartas Voltar FiltroOrdenacao";  
    align-items: center; 
    justify-content: space-around;
    justify-items: center;
}

header button{
    height: 5%; 
    width: 10%; 
    min-height: 50px; 
    min-width: 200px;
    font-size: 2rem;
    
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    border-radius: 3rem;
    cursor: pointer;
}

header button:hover{
    background-color: #1d6166;
    color: #9CEAEF;
    transition: .2s;
}

#CaixaAbas{
    grid-area: NovasAbas;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#CaixaAbas button{
    width: 45%;
    min-width: 0;
    border-radius: 1rem;
}

#CaixaTotalCartas{
    grid-area: TotalCartas;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CaixaTotalCartas input{
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    width: 100%;
    height: 3rem;
    text-align: center;
    height: 2rem;
    border-radius: .5rem;
    padding: .2rem;
    font-size: 2rem;
}


audio{
    grid-area: Musica;
}


#botaoVoltar{
    grid-area: Voltar;
}

#CaixaPesquisar{
    grid-area: Pesquisa;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
} 

#BotaoPesquisar{
    cursor: pointer;
}

#CaixaPesquisar input{
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    width: 100%;
    height: 3rem;
    text-align: center;
    height: 2rem;
    border-radius: .5rem;
    padding: .2rem;
    font-size: 1rem;
}

#BotaoFiltrarOrdenar
{
    grid-area: FiltroOrdenacao;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: .5rem;
}

main{
    background-color: #9CEAEF;
    box-shadow: 0px 0px 13px 3px #1d6166;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin-top: 6rem;
    flex-wrap: wrap;
    
    gap: 1rem;
}

#CaixaFiltrarOrdenar{
    position: absolute;
    background-color: #9CEAEF;
    box-shadow: 5px 6px 18px 8px #1d6166;
    width: 65%;
    height: max-content;
    z-index: 1;
    padding: 1rem;
    border-radius: 1rem;
    align-self: start;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .fa-x{
        position: absolute;
        font-size: 1.5rem;
        align-self: flex-end;
        margin-top: -7.5rem;
    }

    h3{
        align-self: start;
    }
}

#inputOrdenacaoOpcoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
   
    height: max-content;
}

.caixaOpcaoOrdenacao{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem;
    gap: 1rem;
    border: #1d6166 .3rem solid;
    border-radius: 1rem;
}

.caixaOpcaoOrdenacao:hover{
    background-color: #1d6166;
    color: #9CEAEF;
    transition: .2s;
}

#inputFiltroOpcoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    height: max-content;
}

@media (max-width: 1000px){
    header{
        grid-template-areas: "Musica" "Voltar" "NovasAbas" "TotalCartas" "Pesquisa" "FiltroOrdenacao";
        justify-content: center;
    }

    main{
        padding: .5rem;
    }

}